.container {
    border: 1px solid black;
    width: 400px;
    height: 350px;
    margin-left: 550px;
}

.login {
    padding-left: 10px;
    margin-left: 20px;
}

.login-btn {
    margin-top: 15px;
    margin-left: 150px;
    width: 80px;
    height: 30px;
    border: silver;
    background: silver;
    font-size: medium;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 5px;
}
.link-btn {
    color: black;
    text-decoration: none;
}
.regis-btn {
    margin-top: 30px;
    margin-left: 140px;
    width: 150px;
    height: 30px;
    border: silver;
    background: silver;
    font-size: medium;
    font-weight: bold;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 5px;
}